.breadcrumbs {
    display: flex;
    list-style: none;
    padding: .5rem;
}

.breadcrumbs li {
    margin-right: .4rem;
    font-size: 2rem;
}

.breadcrumbs li a {
    text-decoration: none;
}
.breadcrumbs li a:hover {
    color: rgb(70, 61, 243);
}

.breadcrumbs li::after {
    content: " > ";
    margin-left: .5rem;
}

.breadcrumbs li:last-child::after {
    content: "";
}