.footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 3fr;
    align-items: center;
    height: 15rem;
    background: #000;
    color: aliceblue;

}
.footer__icon {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer p {
    font-size: 2rem;
}

.copyrights {
    display: flex;
    align-items: center;
    justify-self: center;
    gap: .5rem;
}
.sitemap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sitemap ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
@media only screen and (min-width:600px) {
    .footer {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        align-items: center;
        height: 10rem;
        background: #000;
        color: aliceblue;
    
    }
    
    .footer p {
        font-size: 2rem;
    }
    
    .copyrights {
        display: flex;
        align-items: center;
        justify-self: center;
        gap: .5rem;
    }
    .sitemap {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .sitemap ul {
        list-style-type: none;
        display: block;
    }
}